In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from ydata_profiling import profile_report
tqdm.pandas()

In [5]:
airports = pd.read_csv(filepath_or_buffer='airports_geolocation.csv')
cancelled_diverted = pd.read_csv(filepath_or_buffer='Cancelled_Diverted_2023.csv')
flights = pd.read_csv(filepath_or_buffer='US_flights_2023.csv')
weather = pd.read_csv(filepath_or_buffer='weather_meteo_by_airport.csv')

# Flights Info

In [6]:
flights.head(5)

,FlightDate,Day_Of_Week,Airline,Tail_Number,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,...,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft,Manufacturer,Model,Aicraft_age
0,2023-01-02,1,Endeavor Air,N605LR,BDL,"Hartford, CT",Morning,-3,0,Low <5min,...,56,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,16
1,2023-01-03,2,Endeavor Air,N605LR,BDL,"Hartford, CT",Morning,-5,0,Low <5min,...,62,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,16
2,2023-01-04,3,Endeavor Air,N331PQ,BDL,"Hartford, CT",Morning,-5,0,Low <5min,...,49,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,10
3,2023-01-05,4,Endeavor Air,N906XJ,BDL,"Hartford, CT",Morning,-6,0,Low <5min,...,54,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,17
4,2023-01-06,5,Endeavor Air,N337PQ,BDL,"Hartford, CT",Morning,-1,0,Low <5min,...,50,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,10

In [7]:
for coulumn in flights.columns: print(coulumn)

FlightDate
Day_Of_Week
Airline
Tail_Number
Dep_Airport
Dep_CityName
DepTime_label
Dep_Delay
Dep_Delay_Tag
Dep_Delay_Type
Arr_Airport
Arr_CityName
Arr_Delay
Arr_Delay_Type
Flight_Duration
Distance_type
Delay_Carrier
Delay_Weather
Delay_NAS
Delay_Security
Delay_LastAircraft
Manufacturer
Model
Aicraft_age

In [8]:
flights.dtypes

FlightDate            object
Day_Of_Week            int64
Airline               object
Tail_Number           object
Dep_Airport           object
Dep_CityName          object
DepTime_label         object
Dep_Delay              int64
Dep_Delay_Tag          int64
Dep_Delay_Type        object
Arr_Airport           object
Arr_CityName          object
Arr_Delay              int64
Arr_Delay_Type        object
Flight_Duration        int64
Distance_type         object
Delay_Carrier          int64
Delay_Weather          int64
Delay_NAS              int64
Delay_Security         int64
Delay_LastAircraft     int64
Manufacturer          object
Model                 object
Aicraft_age            int64
dtype: object

In [9]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743404 entries, 0 to 6743403
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          object
 1   Day_Of_Week         int64
 2   Airline             object
 3   Tail_Number         object
 4   Dep_Airport         object
 5   Dep_CityName        object
 6   DepTime_label       object
 7   Dep_Delay           int64
 8   Dep_Delay_Tag       int64
 9   Dep_Delay_Type      object
 10  Arr_Airport         object
 11  Arr_CityName        object
 12  Arr_Delay           int64
 13  Arr_Delay_Type      object
 14  Flight_Duration     int64
 15  Distance_type       object
 16  Delay_Carrier       int64
 17  Delay_Weather       int64
 18  Delay_NAS           int64
 19  Delay_Security      int64
 20  Delay_LastAircraft  int64
 21  Manufacturer        object
 22  Model               object
 23  Aicraft_age         int64
dtypes: int64(11), object(13)
memory usage: 1.2+ GB

In [10]:
flights.nunique()

FlightDate             365
Day_Of_Week              7
Airline                 15
Tail_Number           5963
Dep_Airport            350
Dep_CityName           344
DepTime_label            4
Dep_Delay             1854
Dep_Delay_Tag            2
Dep_Delay_Type           3
Arr_Airport            350
Arr_CityName           344
Arr_Delay             1880
Arr_Delay_Type           3
Flight_Duration        724
Distance_type            3
Delay_Carrier         1650
Delay_Weather         1073
Delay_NAS              837
Delay_Security         201
Delay_LastAircraft    1349
Manufacturer             5
Model                   21
Aicraft_age             39
dtype: int64

Count the nulls in each column.

In [11]:
flights.isnull().sum()

FlightDate            0
Day_Of_Week           0
Airline               0
Tail_Number           0
Dep_Airport           0
Dep_CityName          0
DepTime_label         0
Dep_Delay             0
Dep_Delay_Tag         0
Dep_Delay_Type        0
Arr_Airport           0
Arr_CityName          0
Arr_Delay             0
Arr_Delay_Type        0
Flight_Duration       0
Distance_type         0
Delay_Carrier         0
Delay_Weather         0
Delay_NAS             0
Delay_Security        0
Delay_LastAircraft    0
Manufacturer          0
Model                 0
Aicraft_age           0
dtype: int64

convert a numerical representation of the day of the week into its string representation.

In [12]:
day_of_week_mapping = {
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday",
    7: "Sunday",
}
flights['Day_Of_Week'] = flights['Day_Of_Week'].map(day_of_week_mapping)

In [13]:
flights.sample(5)

,FlightDate,Day_Of_Week,Airline,Tail_Number,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,...,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft,Manufacturer,Model,Aicraft_age
2979266,2023-06-08,Thursday,American Eagle Airlines Inc.,N257NN,LIT,"Little Rock, AR",Morning,-8,0,Low <5min,...,144,Short Haul >1500Mi,0,0,0,0,0,EMBRAER,170/175,7
2740571,2023-06-19,Monday,American Airlines Inc.,N969NN,TPA,"Tampa, FL",Morning,-9,0,Low <5min,...,204,Short Haul >1500Mi,0,0,25,0,0,BOEING,737 NG,9
47483,2023-01-24,Tuesday,American Airlines Inc.,N934NN,MSY,"New Orleans, LA",Afternoon,-6,0,Low <5min,...,165,Short Haul >1500Mi,0,0,52,0,0,BOEING,737 NG,11
1548396,2023-03-05,Sunday,American Airlines Inc.,N922NN,DFW,"Dallas/Fort Worth, TX",Evening,-4,0,Low <5min,...,209,Short Haul >1500Mi,0,0,0,0,0,BOEING,737 NG,11
1913824,2023-04-15,Saturday,Southwest Airlines Co.,N925WN,LAS,"Las Vegas, NV",Afternoon,-3,0,Low <5min,...,55,Short Haul >1500Mi,0,0,0,0,0,BOEING,737 NG,16

In [14]:
old = flights.memory_usage(deep=True) / (1024 ** 2)
old

Index                   0.000126
FlightDate            430.877750
Day_Of_Week           412.335052
Airline               495.177408
Tail_Number           405.137172
Dep_Airport           385.860672
Dep_CityName          450.460842
DepTime_label         415.689714
Dep_Delay              51.448090
Dep_Delay_Tag          51.448090
Dep_Delay_Type        429.099715
Arr_Airport           385.860672
Arr_CityName          450.466407
Arr_Delay              51.448090
Arr_Delay_Type        429.124532
Flight_Duration        51.448090
Distance_type         483.129905
Delay_Carrier          51.448090
Delay_Weather          51.448090
Delay_NAS              51.448090
Delay_Security         51.448090
Delay_LastAircraft     51.448090
Manufacturer          415.923480
Model                 399.199087
Aicraft_age            51.448090
dtype: float64

In [15]:
categorical_columns =[
    "Airline",
    "Day_Of_Week",
    "Dep_Airport",
    "Arr_Airport",
    "Dep_CityName",
    "Arr_CityName",
    "DepTime_label",
    "Dep_Delay_Type",
    "Arr_Delay_Type",
    "Distance_type",
    "Manufacturer",
    "Model",
]
for coulumn in categorical_columns:
    flights[coulumn] = flights[coulumn].astype("category")

In [16]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743404 entries, 0 to 6743403
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          object
 1   Day_Of_Week         category
 2   Airline             category
 3   Tail_Number         object
 4   Dep_Airport         category
 5   Dep_CityName        category
 6   DepTime_label       category
 7   Dep_Delay           int64
 8   Dep_Delay_Tag       int64
 9   Dep_Delay_Type      category
 10  Arr_Airport         category
 11  Arr_CityName        category
 12  Arr_Delay           int64
 13  Arr_Delay_Type      category
 14  Flight_Duration     int64
 15  Distance_type       category
 16  Delay_Carrier       int64
 17  Delay_Weather       int64
 18  Delay_NAS           int64
 19  Delay_Security      int64
 20  Delay_LastAircraft  int64
 21  Manufacturer        category
 22  Model               category
 23  Aicraft_age         int64
dtypes: category(12), int64(10), object(2)
memory usage: 720.3+ MB

In [17]:
new = flights.memory_usage(deep=True) / (1024 ** 2)
new

Index                   0.000126
FlightDate            430.877750
Day_Of_Week             6.431726
Airline                 6.432625
Tail_Number           405.137172
Dep_Airport            12.889961
Dep_CityName           12.893191
DepTime_label           6.431419
Dep_Delay              51.448090
Dep_Delay_Tag          51.448090
Dep_Delay_Type          6.431310
Arr_Airport            12.889961
Arr_CityName           12.893191
Arr_Delay              51.448090
Arr_Delay_Type          6.431310
Flight_Duration        51.448090
Distance_type           6.431329
Delay_Carrier          51.448090
Delay_Weather          51.448090
Delay_NAS              51.448090
Delay_Security         51.448090
Delay_LastAircraft     51.448090
Manufacturer            6.431500
Model                   6.432774
Aicraft_age            51.448090
dtype: float64

In [18]:
flights.select_dtypes(include=["object","category"]).describe(include="all").T

                  count unique                     top     freq
FlightDate      6743404    365              2023-11-26    20511
Day_Of_Week     6743404      7                  Friday  1003622
Airline         6743404     15  Southwest Airlines Co.  1421238
Tail_Number     6743404   5963                  N488HA     3327
Dep_Airport     6743404    350                     ATL   332935
Dep_CityName    6743404    344             Chicago, IL   338766
DepTime_label   6743404      4                 Morning  2611567
Dep_Delay_Type  6743404      3               Low <5min  5409737
Arr_Airport     6743404    350                     ATL   332941
Arr_CityName    6743404    344             Chicago, IL   338319
Arr_Delay_Type  6743404      3               Low <5min  5403727
Distance_type   6743404      3      Short Haul >1500Mi  5872159
Manufacturer    6743404      5                  BOEING  3122320
Model           6743404     21                  737 NG  2703494

In [19]:
flights.describe().T

,count,mean,std,min,25%,50%,75%,max
Dep_Delay,6743404.0,12.200987,55.079361,-99.0,-5.0,-2.0,9.0,4413.0
Dep_Delay_Tag,6743404.0,0.379001,0.485138,0.0,0.0,0.0,1.0,1.0
Arr_Delay,6743404.0,6.627152,57.078921,-119.0,-15.0,-6.0,9.0,4405.0
Flight_Duration,6743404.0,140.297779,72.872157,0.0,87.0,124.0,171.0,795.0
Delay_Carrier,6743404.0,5.169804,36.457324,0.0,0.0,0.0,0.0,3957.0
Delay_Weather,6743404.0,0.742850,14.353928,0.0,0.0,0.0,0.0,1860.0
Delay_NAS,6743404.0,2.566957,15.004842,0.0,0.0,0.0,0.0,1708.0
Delay_Security,6743404.0,0.030649,1.628923,0.0,0.0,0.0,0.0,1460.0
Delay_LastAircraft,6743404.0,5.681108,30.446469,0.0,0.0,0.0,0.0,3581.0
Aicraft_age,6743404.0,13.480626,7.891495,1.0,7.0,12.0,20.0,57.0

# Cancelld Flights

In [20]:
cancelled_diverted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104488 entries, 0 to 104487
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FlightDate          104488 non-null  object
 1   Day_Of_Week         104488 non-null  int64
 2   Airline             104488 non-null  object
 3   Tail_Number         104488 non-null  object
 4   Cancelled           104488 non-null  float64
 5   Diverted            104488 non-null  float64
 6   Dep_Airport         104488 non-null  object
 7   Dep_CityName        104488 non-null  object
 8   DepTime_label       104488 non-null  object
 9   Dep_Delay           104488 non-null  float64
 10  Dep_Delay_Tag       104488 non-null  int64
 11  Dep_Delay_Type      104488 non-null  object
 12  Arr_Airport         104488 non-null  object
 13  Arr_CityName        104488 non-null  object
 14  Arr_Delay           104488 non-null  float64
 15  Arr_Delay_Type      104488 non-null  object
 16  Flight_Duration     104488 non-null  float64
 17  Distance_type       104488 non-null  object
 18  Delay_Carrier       104488 non-null  float64
 19  Delay_Weather       104488 non-null  float64
 20  Delay_NAS           104488 non-null  float64
 21  Delay_Security      104488 non-null  float64
 22  Delay_LastAircraft  104488 non-null  float64
dtypes: float64(10), int64(2), object(11)
memory usage: 18.3+ MB

In [21]:
categorical_columns = [
    "Day_Of_Week",
    "Airline",
    "Cancelled",
    "Diverted",
    "Dep_Airport",
    "Dep_CityName",
    "DepTime_label",
    "Dep_Delay_Tag",
    "Dep_Delay_Type",
    "Arr_Airport",
    "Arr_CityName",
    "Arr_Delay_Type",
    "Distance_type",
]
for coulumn in categorical_columns:
    cancelled_diverted[coulumn] = cancelled_diverted[coulumn].astype(dtype="category")

In [22]:
cancelled_diverted.sample(5)

,FlightDate,Day_Of_Week,Airline,Tail_Number,Cancelled,Diverted,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,...,Arr_CityName,Arr_Delay,Arr_Delay_Type,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft
55638,2023-06-25,7,United Air Lines Inc.,0,1.0,0.0,EWR,"Newark, NJ",Afternoon,0.0,...,"Charleston, SC",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
33199,2023-04-20,4,Skywest Airlines Inc.,N945SW,1.0,0.0,MCW,"Mason City, IA",Evening,0.0,...,"Chicago, IL",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
65638,2023-07-09,7,Delta Air Lines Inc,N857DZ,1.0,0.0,JFK,"New York, NY",Evening,0.0,...,"Miami, FL",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
86919,2023-08-20,7,Southwest Airlines Co.,N930WN,1.0,0.0,SAN,"San Diego, CA",Morning,0.0,...,"Austin, TX",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
61434,2023-07-07,5,Endeavor Air,N678CA,1.0,0.0,LGA,"New York, NY",Evening,0.0,...,"Providence, RI",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0

In [23]:
cancelled_diverted[cancelled_diverted['Tail_Number'] == '0']

,FlightDate,Day_Of_Week,Airline,Tail_Number,Cancelled,Diverted,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,...,Arr_CityName,Arr_Delay,Arr_Delay_Type,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft
3240,2023-01-01,7,Frontier Airlines Inc.,0,1.0,0.0,PHX,"Phoenix, AZ",Night,0.0,...,"Philadelphia, PA",0.0,No Arrival Delay,0.0,Medium Haul,0.0,0.0,0.0,0.0,0.0
3241,2023-01-01,7,Frontier Airlines Inc.,0,1.0,0.0,ISP,"Islip, NY",Night,0.0,...,"Orlando, FL",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
3242,2023-01-01,7,Frontier Airlines Inc.,0,1.0,0.0,ATL,"Atlanta, GA",Morning,0.0,...,"Baltimore, MD",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
3243,2023-01-01,7,Frontier Airlines Inc.,0,1.0,0.0,ATL,"Atlanta, GA",Morning,0.0,...,"New Orleans, LA",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
3244,2023-01-01,7,Frontier Airlines Inc.,0,1.0,0.0,LAS,"Las Vegas, NV",Morning,0.0,...,"Orlando, FL",0.0,No Arrival Delay,0.0,Medium Haul,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103280,2023-12-25,1,Southwest Airlines Co.,0,1.0,0.0,FLL,"Fort Lauderdale, FL",Morning,0.0,...,"Orlando, FL",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
103282,2023-12-25,1,Southwest Airlines Co.,0,1.0,0.0,HOU,"Houston, TX",Morning,0.0,...,"New Orleans, LA",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
103296,2023-12-25,1,Southwest Airlines Co.,0,1.0,0.0,MCO,"Orlando, FL",Morning,0.0,...,"Houston, TX",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
103305,2023-12-25,1,Southwest Airlines Co.,0,1.0,0.0,MSY,"New Orleans, LA",Morning,0.0,...,"St. Louis, MO",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
103310,2023-12-25,1,Southwest Airlines Co.,0,1.0,0.0,OAK,"Oakland, CA",Morning,0.0,...,"Long Beach, CA",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0

In [24]:
cancelled_diverted[cancelled_diverted['Tail_Number'] == '0']["Cancelled"].eq(other=1.0).all()

np.True_

In [25]:
cancelled_diverted[cancelled_diverted['Cancelled'] == 1.0]["Tail_Number"].eq(other='0').value_counts()

Tail_Number
False    72450
True     15486
Name: count, dtype: int64

In [26]:
cancelled_diverted.select_dtypes(include=["object","category"]).describe(include="all").T

                   count unique                     top     freq
FlightDate        104488    365              2023-02-01     2147
Day_Of_Week       104488      7                       3    17461
Airline           104488     15  Southwest Airlines Co.    17227
Tail_Number       104488   5438                       0    15486
Cancelled       104488.0    2.0                     1.0  87936.0
Diverted        104488.0    2.0                     0.0  87936.0
Dep_Airport       104488    345                     DFW     5223
Dep_CityName      104488    339            New York, NY     8352
DepTime_label     104488      4               Afternoon    37942
Dep_Delay_Tag     104488      2                       0    94693
Dep_Delay_Type    104488      3      No Departure Delay    96743
Arr_Airport       104488    346                     DFW     5485
Arr_CityName      104488    340            New York, NY     8621
Arr_Delay_Type    104488      1        No Arrival Delay   104488
Distance_type     104488      3              Short Haul    92276

In [27]:
cancelled_diverted.describe().T

                       count      mean       std   min  25%  50%  75%     max
Dep_Delay           104488.0  7.798848  49.62161 -31.0  0.0  0.0  0.0  2414.0
Arr_Delay           104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Flight_Duration     104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Delay_Carrier       104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Delay_Weather       104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Delay_NAS           104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Delay_Security      104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0
Delay_LastAircraft  104488.0  0.000000   0.00000   0.0  0.0  0.0  0.0     0.0

# Weather Info

In [28]:
weather.sample(5)

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres,airport_id
123076,2023-03-13,2.7,-2.2,10.0,0.0,0.0,6.0,11.8,1026.2,SWO
115484,2023-05-25,11.5,10.0,13.3,7.6,0.0,319.0,12.2,1014.0,SIT
84251,2023-10-29,21.7,16.1,29.4,0.0,0.0,96.0,6.1,1017.5,MOB
108966,2023-07-16,26.4,15.6,35.6,0.0,0.0,93.0,16.7,1013.2,SAF
7605,2023-11-02,1.9,-5.0,11.1,0.0,0.0,215.0,8.0,1023.2,ASE

In [29]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132860 entries, 0 to 132859
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        132860 non-null  object
 1   tavg        132860 non-null  float64
 2   tmin        132860 non-null  float64
 3   tmax        132860 non-null  float64
 4   prcp        132860 non-null  float64
 5   snow        132860 non-null  float64
 6   wdir        132860 non-null  float64
 7   wspd        132860 non-null  float64
 8   pres        132860 non-null  float64
 9   airport_id  132860 non-null  object
dtypes: float64(8), object(2)
memory usage: 10.1+ MB

In [30]:
weather.describe().T

         count         mean         std    min     25%     50%     75%     max
tavg  132860.0    14.042641   10.672859  -39.1     6.3    15.4    22.5    42.2
tmin  132860.0     8.699833   10.680441  -76.0     1.1     9.4    17.2    37.2
tmax  132860.0    19.617149   11.392223  -35.0    11.7    21.2    28.9    50.0
prcp  132860.0     2.520604    7.915755    0.0     0.0     0.0     1.0   571.5
snow  132860.0     6.810131   50.935283    0.0     0.0     0.0     0.0  1780.0
wdir  132860.0   188.686042  114.629099    0.0    79.0   197.0   297.0   360.0
wspd  132860.0    12.424556    6.211261    0.0     7.9    11.3    15.7    78.3
pres  132860.0  1015.650368    6.944599  964.3  1011.6  1015.4  1019.7  1051.0

# Airports Info

In [31]:
airports.sample(5)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
197,LCH,Lake Charles Regional Airport,Lake Charles,LA,USA,30.12610,-93.22340
302,SBA,Santa Barbara Municipal Airport (Santa Barbara...,Santa Barbara,CA,USA,34.42621,-119.84037
301,SAV,Savannah/Hilton Head International Airport,Savannah,GA,USA,32.12758,-81.20214
13,AKN,King Salmon Airport,King Salmon,AK,USA,58.67680,-156.64922
69,CLD,McClellan-Palomar Airport,San Diego,CA,USA,33.12723,-117.27873

In [32]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  364 non-null    object
 1   AIRPORT    364 non-null    object
 2   CITY       364 non-null    object
 3   STATE      364 non-null    object
 4   COUNTRY    364 non-null    object
 5   LATITUDE   364 non-null    float64
 6   LONGITUDE  364 non-null    float64
dtypes: float64(2), object(5)
memory usage: 20.0+ KB

In [33]:
airports.describe().T

,count,mean,std,min,25%,50%,75%,max
LATITUDE,364.0,38.810970,8.757505,-14.27810,33.672655,39.25193,43.113110,71.28545
LONGITUDE,364.0,-96.809033,27.471654,-176.64603,-110.788562,-93.74314,-82.501792,145.73330

In [34]:
airports.select_dtypes(include="object").describe(include="all").T

          count unique                                  top freq
IATA_CODE   364    364                                  ABE    1
AIRPORT     364    363  Port Columbus International Airport    2
CITY        364    346                             Columbus    3
STATE       364     55                                   CA   26
COUNTRY     364      1                                  USA  364

# Normalizing Column Names

In [35]:
def normalize_columns(df):
    df.columns = df.columns.str.lower().str.replace(" ","_")
    return df

In [36]:
airports = normalize_columns(airports)
cancelled_diverted = normalize_columns(cancelled_diverted)
flights = normalize_columns(flights)
weather = normalize_columns(weather)

In [37]:
print("airports: " , airports.columns)
print(50*"*")
print("cancelled_diverted: " , cancelled_diverted.columns)
print(50*"*")
print("flights: " , flights.columns)
print(50*"*")
print("weather: " , weather.columns)
print(50*"*")

airports:  Index(['iata_code', 'airport', 'city', 'state', 'country', 'latitude',
       'longitude'],
      dtype='object')
**************************************************
cancelled_diverted:  Index(['flightdate', 'day_of_week', 'airline', 'tail_number', 'cancelled',
       'diverted', 'dep_airport', 'dep_cityname', 'deptime_label', 'dep_delay',
       'dep_delay_tag', 'dep_delay_type', 'arr_airport', 'arr_cityname',
       'arr_delay', 'arr_delay_type', 'flight_duration', 'distance_type',
       'delay_carrier', 'delay_weather', 'delay_nas', 'delay_security',
       'delay_lastaircraft'],
      dtype='object')
**************************************************
flights:  Index(['flightdate', 'day_of_week', 'airline', 'tail_number', 'dep_airport',
       'dep_cityname', 'deptime_label', 'dep_delay', 'dep_delay_tag',
       'dep_delay_type', 'arr_airport', 'arr_cityname', 'arr_delay',
       'arr_delay_type', 'flight_duration', 'distance_type', 'delay_carrier',
       'delay_weather', 'delay_nas', 'delay_security', 'delay_lastaircraft',
       'manufacturer', 'model', 'aicraft_age'],
      dtype='object')
**************************************************
weather:  Index(['time', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'pres',
       'airport_id'],
      dtype='object')
**************************************************

In [39]:
print(airports.duplicated().sum())
print(cancelled_diverted.duplicated().sum())
print(flights.duplicated().sum())
print(weather.duplicated().sum())

0
945
31
0

In [40]:
cancelled_diverted = cancelled_diverted.drop_duplicates()
flights = flights.drop_duplicates()

In [41]:
# Check for duplicates and remove them
print("airports", airports.duplicated().sum())
print("cancelled_diverted", cancelled_diverted.duplicated().sum())
print("flights", flights.duplicated().sum())
print("weather", weather.duplicated().sum())

airports 0
cancelled_diverted 0
flights 0
weather 0

# Find Missing Value

In [42]:
airports_nas = airports.isna().sum()
cancelled_diverted_nas = cancelled_diverted.isna().sum()
flights_nas = flights.isna().sum()
weather_nas = weather.isna().sum()

print("airports_nas: ")
print(airports_nas)
print(50 * "*")

print("cancelled_diverted_nas: ")
print(cancelled_diverted_nas)
print(50 * "*")

print("flights_nas: ")
print(flights_nas)
print(50 * "*")

print("weather_nas: ")
print(weather_nas)

airports_nas:
iata_code    0
airport      0
city         0
state        0
country      0
latitude     0
longitude    0
dtype: int64
**************************************************
cancelled_diverted_nas:
flightdate            0
day_of_week           0
airline               0
tail_number           0
cancelled             0
diverted              0
dep_airport           0
dep_cityname          0
deptime_label         0
dep_delay             0
dep_delay_tag         0
dep_delay_type        0
arr_airport           0
arr_cityname          0
arr_delay             0
arr_delay_type        0
flight_duration       0
distance_type         0
delay_carrier         0
delay_weather         0
delay_nas             0
delay_security        0
delay_lastaircraft    0
dtype: int64
**************************************************
flights_nas:
flightdate            0
day_of_week           0
airline               0
tail_number           0
dep_airport           0
dep_cityname          0
deptime_label         0
dep_delay             0
dep_delay_tag         0
dep_delay_type        0
arr_airport           0
arr_cityname          0
arr_delay             0
arr_delay_type        0
flight_duration       0
distance_type         0
delay_carrier         0
delay_weather         0
delay_nas             0
delay_security        0
delay_lastaircraft    0
manufacturer          0
model                 0
aicraft_age           0
dtype: int64
**************************************************
weather_nas:
time          0
tavg          0
tmin          0
tmax          0
prcp          0
snow          0
wdir          0
wspd          0
pres          0
airport_id    0
dtype: int64

In [43]:
print(f"airports df info:")
airports.info()
print(50 * "=")
print(f"cancelled_diverted df info:")
cancelled_diverted.info()
print(50 * "=")
print(f"flights df info:")
flights.info()
print(50 * "=")
print(f"weather df info:")
weather.info()
print(50 * "=")

airports df info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   iata_code  364 non-null    object
 1   airport    364 non-null    object
 2   city       364 non-null    object
 3   state      364 non-null    object
 4   country    364 non-null    object
 5   latitude   364 non-null    float64
 6   longitude  364 non-null    float64
dtypes: float64(2), object(5)
memory usage: 20.0+ KB
==================================================
cancelled_diverted df info:
<class 'pandas.core.frame.DataFrame'>
Index: 103543 entries, 0 to 104487
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   flightdate          103543 non-null  object
 1   day_of_week         103543 non-null  category
 2   airline             103543 non-null  category
 3   tail_number         103543 non-null  object
 4   cancelled           103543 non-null  category
 5   diverted            103543 non-null  category
 6   dep_airport         103543 non-null  category
 7   dep_cityname        103543 non-null  category
 8   deptime_label       103543 non-null  category
 9   dep_delay           103543 non-null  float64
 10  dep_delay_tag       103543 non-null  category
 11  dep_delay_type      103543 non-null  category
 12  arr_airport         103543 non-null  category
 13  arr_cityname        103543 non-null  category
 14  arr_delay           103543 non-null  float64
 15  arr_delay_type      103543 non-null  category
 16  flight_duration     103543 non-null  float64
 17  distance_type       103543 non-null  category
 18  delay_carrier       103543 non-null  float64
 19  delay_weather       103543 non-null  float64
 20  delay_nas           103543 non-null  float64
 21  delay_security      103543 non-null  float64
 22  delay_lastaircraft  103543 non-null  float64
dtypes: category(13), float64(8), object(2)
memory usage: 10.4+ MB
==================================================
flights df info:
<class 'pandas.core.frame.DataFrame'>
Index: 6743373 entries, 0 to 6743403
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   flightdate          object
 1   day_of_week         category
 2   airline             category
 3   tail_number         object
 4   dep_airport         category
 5   dep_cityname        category
 6   deptime_label       category
 7   dep_delay           int64
 8   dep_delay_tag       int64
 9   dep_delay_type      category
 10  arr_airport         category
 11  arr_cityname        category
 12  arr_delay           int64
 13  arr_delay_type      category
 14  flight_duration     int64
 15  distance_type       category
 16  delay_carrier       int64
 17  delay_weather       int64
 18  delay_nas           int64
 19  delay_security      int64
 20  delay_lastaircraft  int64
 21  manufacturer        category
 22  model               category
 23  aicraft_age         int64
dtypes: category(12), int64(10), object(2)
memory usage: 771.8+ MB
==================================================
weather df info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132860 entries, 0 to 132859
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        132860 non-null  object
 1   tavg        132860 non-null  float64
 2   tmin        132860 non-null  float64
 3   tmax        132860 non-null  float64
 4   prcp        132860 non-null  float64
 5   snow        132860 non-null  float64
 6   wdir        132860 non-null  float64
 7   wspd        132860 non-null  float64
 8   pres        132860 non-null  float64
 9   airport_id  132860 non-null  object
dtypes: float64(8), object(2)
memory usage: 10.1+ MB
==================================================

# Data Profiling

In [ ]:
from ydata_profiling import ProfileReport
profile_airport = ProfileReport(df=airports , title= "profile_airport" , explorative=True)
profile_airport.to_file(output_file="./Profiling/profile_airport.html")

In [ ]:
profiile_cancelled_diverted = ProfileReport(df=cancelled_diverted , title="profile_cancelled_diverted" , explorative=True)
profiile_cancelled_diverted.to_file(output_file="./Profiling/profile_cancelled_diverted.html")

In [ ]:
profile_flights = ProfileReport(df=flights , title="profile_flights" , explorative=True)
profile_flights.to_file(output_file="./Profiling/profile_flights.html")

In [ ]:
profile_weather = ProfileReport(df=weather , title="profile_weather" , explorative=True)
profile_weather.to_file(output_file="./Profiling/profile_weather.html")